<?xml version="1.0" ?>
<robot name="PALLETS" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find PALLETS_description)/urdf/materials.xacro" />
<xacro:include filename="$(find PALLETS_description)/urdf/PALLETS.trans" />
<xacro:include filename="$(find PALLETS_description)/urdf/PALLETS.gazebo" />
<link name="base_link">
  <inertial>
    <origin xyz="-0.27148249302043675 3.4921268774072467 0.08096400250588826" rpy="0 0 0"/>
    <mass value="225.5817120324954"/>
    <inertia ixx="1166.445439" iyy="1849.506331" izz="3014.001851" ixy="786.4727" iyz="0.277131" ixz="0.681887"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://PALLETS_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://PALLETS_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

</robot>
