<?xml version="1.0" ?>
<robot name="COMPONENTS" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find COMPONENTS_description)/urdf/materials.xacro" />
<xacro:include filename="$(find COMPONENTS_description)/urdf/COMPONENTS.trans" />
<xacro:include filename="$(find COMPONENTS_description)/urdf/COMPONENTS.gazebo" />
<link name="base_link">
  <inertial>
    <origin xyz="1.215173665173922 2.404715313616119 0.13710112924754475" rpy="0 0 0"/>
    <mass value="3271.5827672153173"/>
    <inertia ixx="6637.169318" iyy="2001.675154" izz="8506.084035" ixy="90.387437" iyz="0.112994" ixz="-0.789813"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://COMPONENTS_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://COMPONENTS_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="Component4_1">
  <inertial>
    <origin xyz="1.761651411569254e-05 -0.004127398650252356 0.00401547969308419" rpy="0 0 0"/>
    <mass value="0.3447713266564574"/>
    <inertia ixx="0.00014" iyy="9e-05" izz="9.2e-05" ixy="0.0" iyz="4.9e-05" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-1.221 -2.271887 -0.390113" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://COMPONENTS_description/meshes/Component4_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-1.221 -2.271887 -0.390113" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://COMPONENTS_description/meshes/Component4_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="Component3_1">
  <inertial>
    <origin xyz="-3.051735641967923e-08 -0.01552438301560466 0.0155243830150249" rpy="0 0 0"/>
    <mass value="1.3084394776147894"/>
    <inertia ixx="0.000777" iyy="0.000956" izz="0.000956" ixy="0.0" iyz="-0.000178" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-1.221 -2.303 -0.359" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://COMPONENTS_description/meshes/Component3_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-1.221 -2.303 -0.359" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://COMPONENTS_description/meshes/Component3_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="Component4_2">
  <inertial>
    <origin xyz="-0.0036636147220294735 5.3388101133311494e-05 -0.003749886637425204" rpy="0 0 0"/>
    <mass value="0.3447713266564574"/>
    <inertia ixx="9e-05" iyy="0.00014" izz="9.2e-05" ixy="-0.0" iyz="-0.0" ixz="-4.9e-05"/>
  </inertial>
  <visual>
    <origin xyz="-1.352113 -2.403 -0.390113" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://COMPONENTS_description/meshes/Component4_2.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-1.352113 -2.403 -0.390113" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://COMPONENTS_description/meshes/Component4_2.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="Component3_2">
  <inertial>
    <origin xyz="0.01552435249759121 4.1522341120980855e-13 0.015524383015472598" rpy="0 0 0"/>
    <mass value="1.3084394776147894"/>
    <inertia ixx="0.000956" iyy="0.000777" izz="0.000956" ixy="0.0" iyz="0.0" ixz="0.000178"/>
  </inertial>
  <visual>
    <origin xyz="-1.321 -2.403 -0.359" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://COMPONENTS_description/meshes/Component3_2.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-1.321 -2.403 -0.359" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://COMPONENTS_description/meshes/Component3_2.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="Component4_3">
  <inertial>
    <origin xyz="-7.307779285659066e-05 -0.0037316195507481886 -0.0036818512919296054" rpy="0 0 0"/>
    <mass value="0.3447713266564574"/>
    <inertia ixx="0.00014" iyy="9.1e-05" izz="9.1e-05" ixy="1e-06" iyz="-4.9e-05" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-1.221 -2.534113 -0.390113" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://COMPONENTS_description/meshes/Component4_3.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-1.221 -2.534113 -0.390113" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://COMPONENTS_description/meshes/Component4_3.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="Component3_3">
  <inertial>
    <origin xyz="-3.051735641967923e-08 0.01552438301502379 0.0155243830156096" rpy="0 0 0"/>
    <mass value="1.3084394776147894"/>
    <inertia ixx="0.000777" iyy="0.000956" izz="0.000956" ixy="0.0" iyz="0.000178" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-1.221 -2.503 -0.359" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://COMPONENTS_description/meshes/Component3_3.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-1.221 -2.503 -0.359" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://COMPONENTS_description/meshes/Component3_3.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="Component4_4">
  <inertial>
    <origin xyz="0.0037613012604376106 -2.47551993455275e-05 -0.0036521390647032415" rpy="0 0 0"/>
    <mass value="0.3447713266564574"/>
    <inertia ixx="9.2e-05" iyy="0.00014" izz="9e-05" ixy="-0.0" iyz="0.0" ixz="4.9e-05"/>
  </inertial>
  <visual>
    <origin xyz="-1.089887 -2.403 -0.390113" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://COMPONENTS_description/meshes/Component4_4.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-1.089887 -2.403 -0.390113" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://COMPONENTS_description/meshes/Component4_4.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="Component3_4">
  <inertial>
    <origin xyz="-0.015524413533043013 4.1522341120980855e-13 0.015524383015161958" rpy="0 0 0"/>
    <mass value="1.3084394776147894"/>
    <inertia ixx="0.000956" iyy="0.000777" izz="0.000956" ixy="0.0" iyz="0.0" ixz="-0.000178"/>
  </inertial>
  <visual>
    <origin xyz="-1.121 -2.403 -0.359" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://COMPONENTS_description/meshes/Component3_4.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-1.121 -2.403 -0.359" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://COMPONENTS_description/meshes/Component3_4.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="Component4_5">
  <inertial>
    <origin xyz="7.540730321387024e-05 -2.97233815205189e-05 0.005758311061075105" rpy="0 0 0"/>
    <mass value="0.3447713266564574"/>
    <inertia ixx="0.00014" iyy="0.00014" izz="4.2e-05" ixy="-0.0" iyz="0.0" ixz="-1e-06"/>
  </inertial>
  <visual>
    <origin xyz="-1.221 -2.403 -0.453" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://COMPONENTS_description/meshes/Component4_5.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-1.221 -2.403 -0.453" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://COMPONENTS_description/meshes/Component4_5.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="Component3_5">
  <inertial>
    <origin xyz="-3.051735641967923e-08 -4.1300296516055823e-13 0.021954793007734064" rpy="0 0 0"/>
    <mass value="1.3084394776147894"/>
    <inertia ixx="0.000777" iyy="0.000777" izz="0.001134" ixy="0.0" iyz="-0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-1.221 -2.403 -0.409" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://COMPONENTS_description/meshes/Component3_5.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="-1.221 -2.403 -0.409" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://COMPONENTS_description/meshes/Component3_5.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<joint name="Cylindrical 1" type="Cylinderical">
  <origin xyz="0.0 -0.031113 0.031113" rpy="0 0 0"/>
  <parent link="Component3_1"/>
  <child link="Component4_1"/>
</joint>

<joint name="Rigid 2" type="fixed">
  <origin xyz="1.221 2.303 0.359" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="Component3_1"/>
</joint>

<joint name="Cylindrical 3" type="Cylinderical">
  <origin xyz="0.031113 0.0 0.031113" rpy="0 0 0"/>
  <parent link="Component3_2"/>
  <child link="Component4_2"/>
</joint>

<joint name="Rigid 4" type="fixed">
  <origin xyz="1.321 2.403 0.359" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="Component3_2"/>
</joint>

<joint name="Cylindrical 5" type="Cylinderical">
  <origin xyz="0.0 0.031113 0.031113" rpy="0 0 0"/>
  <parent link="Component3_3"/>
  <child link="Component4_3"/>
</joint>

<joint name="Rigid 6" type="fixed">
  <origin xyz="1.221 2.503 0.359" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="Component3_3"/>
</joint>

<joint name="Cylindrical 7" type="Cylinderical">
  <origin xyz="-0.031113 0.0 0.031113" rpy="0 0 0"/>
  <parent link="Component3_4"/>
  <child link="Component4_4"/>
</joint>

<joint name="Rigid 8" type="fixed">
  <origin xyz="1.121 2.403 0.359" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="Component3_4"/>
</joint>

<joint name="Cylindrical 9" type="Cylinderical">
  <origin xyz="0.0 0.0 0.044" rpy="0 0 0"/>
  <parent link="Component3_5"/>
  <child link="Component4_5"/>
</joint>

<joint name="Rigid 10" type="fixed">
  <origin xyz="1.221 2.403 0.409" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="Component3_5"/>
</joint>

</robot>
